.CustomBtn{
    background-color: #b0c192;
    border: 2px solid black;
    border-radius: 10px ;
    padding: 5px;
    width: 50%;
}

.CustomBtn:hover{
    background-color: #306331
}

.CustomBtn:active{
    transform: scale(.98);
}

.container{
    text-align: center;
}