.CustomBtn{
    background-color: rgb(81, 129, 113);
    border-radius: 10px;
    padding: 5px;
}

.CustomBtn:hover{
    background-color: rgb(104, 182, 156);
}

.CustomBtn:active{
    transform: scale(.98);
}