.login{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    gap: 5px;
    margin: 10px;
    background-color: #81ac6c;

}