.signup{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    height: fit-content;
    gap: 5px;
    background-color: rgb(94, 228, 134);
}